<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>RELP Code</title>

			<script src="https://kit.fontawesome.com/fe6cd25c8c.js" crossorigin="anonymous"></script>
			<script src="${script}"></script>

			<link rel="stylesheet" type="text/css" href="${stylesheet}">
    </head>
    <body>
			<script>
				test('${variables[0]}');
			</script>
			<p>${variables[0]}</p>
			<section id="var-container" class="var-container">
				
			</section>
			<section>
				<div class="button-container">
					<button class="play"><i class="fas fa-play"></i></button>
					<button class="reload"><i class="fas fa-redo-alt"></i></button>
				</div>
			</section>
			<section>
				<code>
					const func = (x, y) => {<br>
					&nbsp;&nbsp;return x + y;<br>
					}
				</code>
			</section>
			<section>
			<h1 id="thish1">This is some heading!</h1>
			<p>This is a heading which is used to do stuff!</p>
			
			<span id="text"></span>
			</section>
    </body>
  </html>